.dash-chart-header-box {
    border-top: .3px solid rgba(255, 255, 255, .185);
    border-bottom: .3px solid rgba(255, 255, 255, .185);
    background: linear-gradient(90deg,
            rgba(53, 53, 53, 0)1.21%,
            rgba(53, 53, 53, .46)49.45%,
            rgba(53, 53, 53, .0)103.83%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}